/* 共通のスタイル */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

/* マンガビューワーのスタイル */
#manga-container {
    max-width: 100%;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    background-color: #0077FF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0055CC;
}