/* スタイルの設定 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

#image-container {
    margin: 20px auto;
    max-width: 80%;
}


button {
    padding: 10px 20px;
    background-color: #0077FF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0055CC;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto; /* 画像の上下の余白を設定 */
}